#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}

.buttons{
    touch-action: manipulation;  /* for mobile devices */
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(214, 100%, 56%);
}

#resetBtn{
    color: green;
    background-color: hsl(0, 100%, 74%);
}

#resetBtn:hover{
    background-color: hsl(0, 100%, 56%);
}